h1, h2, p, a, ul, table {
    color: #161831;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h1, h2, p {
    font-weight: bold;
    text-align: center;
    margin-left: 100px;
    margin-right: 100px;
}

p {
    font-size: 17px;
}

h2 {
    font-size: 25px;
}

button {
    border-color: #161831;
    background-color: transparent;
    font-size: 20px;
    border: 10px;
    font-weight: bold;
    color: #161831;
    text-decoration: underline;
    text-transform: uppercase;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

button:hover {
    color:#6F74BE;
}

body {
    /* background-color: #30346B; */
    background-image: linear-gradient(#EDEEF7,#6F74BE);
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin-left: 100px;
    margin-right: 100px;
}

header {
    text-align: center;
    margin-left: 100px;
    margin-right: 100px;
}

hr {
    border-color:#161831;
    border-width: 4px;
}

.image-cropper {
    width: 50px;
    height: 50px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
}

img {
    float: inline-start;
    margin: 0 auto;
    height: 100%;
    width: auto;
}

table {
    margin-left: auto;
    margin-right: auto;
}

thead {
    font-size: 25px;
}

tr, td {
    font-size: 20px;
}