body {
    background-color: black;
    background-image: url('https://wallpapercave.com/wp/wp2770233.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 0;
    height: 100vh; /* Ensures the background covers the full viewport height */
    width: 100vw; /* Ensures the background covers the full viewport width */
    overflow: hidden;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
}

td {
    padding: 10px;
    text-align: center;
    background-color: rgba(33, 31, 31, 0.66);
    border-radius: 12px;
}

input[type='text'], input[type='number'] {
    font-size: 13px;
    padding: 10px;
    border-radius: 12px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border: none;
    text-align: center;
    margin-top: 5px;
}

select {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 13px;
    padding: 10px;
    border-radius: 12px;
    border: none;
    text-align: center;
    margin-top: 5px;
}