body {
    background-color: aliceblue;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    color: rgb(21, 21, 45);
    font-size: 18px;
}

h1 {
    font-size: 36px;
    font-weight: bold;
}