#dealer-deck {
    visibility: hidden;
}

#message {
    fill: white;
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    text-anchor: middle;
    visibility: hidden;
}

#score {
    fill: white;
    font-size: 20px;
    font-weight: bold;
    text-anchor: middle;
    visibility: hidden;
    font-family: 'Courier New', Courier, monospace;
}

.game {
    visibility: hidden;
}

text.game {
    fill: white;
    font-weight: bold;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    stroke: red;
    stroke-width: 3px;
    paint-order: stroke;
}

.start {
    visibility: visible;
}

body {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    margin-left: auto;
    margin-right: auto;
    color: green;
    font-size: 18px;
    background-color: rgb(229, 240, 229);
}

.cards {
    visibility: hidden;
    width: 100px;
    height: auto;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    x: 350px;
    y: 300px;
    z-index: 10;
    position: relative;
}

input {
    font-size: 18px;
    font-family: 'Courier New', Courier, monospace;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    border-radius: 20px;
    border: none;
}

input[type='button']:hover {
    background-color: rgb(20, 169, 20);
    transform: scale(1.05);
}

input[type='button']:disabled {
    background-color: rgba(0, 112, 0, 0.333);
    transform: none;
    cursor: not-allowed;
}

input[type='button'] {
    display: block;
    font-weight: bold;
    font-size: 18px;
    font-family:  'Courier New', Courier, monospace;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
    background-color: green;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    color: white;
}

svg {
    margin-left: auto;
    margin-right: auto;
}

table {
    margin-left: auto;
    margin-right: auto;
}

text {
    font-size: 100px;
    font-family: 'Brush Script MT', cursive;
    fill: white;
    text-anchor: middle;
}