#bet-message {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 14px;
    color: red;
    font-weight: bold;
    visibility: hidden;
}

#dealer, #hits {
    font-family: 'Courier New', Courier, monospace;
}

#end-button {
    visibility: hidden;
}

#hits {
    font-size: 13px;
}

#dealer-deck {
    visibility: hidden;
}

#dealer-end {
    visibility: hidden;
}

#message {
    fill: green;
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    text-anchor: middle;
    visibility: hidden;
}

#score, #beginning, #dealer-score {
    fill: white;
    font-size: 20px;
    font-weight: bold;
    text-anchor: middle;
    visibility: hidden;
    font-family: 'Courier New', Courier, monospace;
}

#winnings {
    visibility: hidden;
    fill: rgb(255, 217, 0);
    font-size: 30px;
    stroke: white;
    stroke-width: 3px;
    paint-order: stroke;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    text-anchor: middle;

}

.game {
    visibility: hidden;
}

text.game {
    fill: white;
    font-weight: bold;
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    stroke: red;
    stroke-width: 3px;
    paint-order: stroke;
}

.start {
    visibility: visible;
}

.subtext {
    font-style: italic;
    font-size: 12px;
}

body {
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-left: auto;
    margin-right: auto;
    color: green;
    font-size: 18px;
    background-color: rgb(229, 240, 229);
}

p, #bet-message {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 14px;
}

.cards {
    visibility: hidden;
    width: 100px;
    height: auto;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    x: 350px;
    y: 300px;
    z-index: 10;
    position: relative;
}

h1 {
    font-family: 'Brush Script MT', cursive;
    font-size: 60px;
    padding: 0;
    margin: 0;
    text-align: center;
}

input {
    font-size: 18px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    border-radius: 20px;
    border: none;
}

input[type='button']:hover {
    background-color: rgb(20, 169, 20);
    transform: scale(1.05);
}

input[type='button']:disabled {
    background-color: rgba(0, 112, 0, 0.333);
    transform: none;
    cursor: not-allowed;
}

input[type='button'] {
    display: block;
    font-weight: bold;
    font-size: 18px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
    background-color: green;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    color: white;
}

image {
    position: absolute;
}

svg {
    margin-left: auto;
    margin-right: auto;
}

table {
    margin-left: auto;
    margin-right: auto;
}

td {
    padding: 10px;
    float: top;
}

text {
    font-size: 100px;
    font-family: 'Brush Script MT', cursive;
    fill: white;
    text-anchor: middle;
}